body {
    padding: 25px 50px;
    font-family: Arial, sans-serif;
    background: white;
    line-height: 1.5;
}

code { 
    font-family: monospace;
    background-color: #dddddd;
    padding: 0px 2px;
}

pre {
    font-family: monospace;
    background-color: #dddddd;
    border: 1px solid #999;
    display: block;
    padding: 5px 10px;
}

.counter {
    font-family: monospace;
    background-color: lightpink;
    padding: 0px 2px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a:link {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid lightblue;
    color: blue;
}
  
a:visited {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid lightblue;
    color: blue;
}
  
a:hover {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid blue;
    color: blue;
}

a:active {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid blue;
    color: blue;
}
